:root {
  --color1: #E2F1AF;
  /* tea green */
  --color2: #E3D888;
  /* flax */
  --color3: #84714f;
  /* coyote */
  --color4: #5A3A31;
  /* rose ebony */
  --color5: #31231E;
  /* bistre */
  --color6: #BCAA99;
  --color7: #88665D;
  --color8: #FFEDDF;
  --color9: #F2F7F2;
  --color10: #D4D2D5;
  --color11: #ABC8C7;
  --color12:#FCEFEF;
  --color13: #A1FCDF;
  --color14: #FCD29F;
  --color15: #2D232E;
  --color16: #F6C5AF;
  --color17:#B3CBB9;
  --color18: #59ffa156;
  --color19: #C98CA7;
  --color20:#393D3F;
}

.App {
  text-align: center;
}

.App-logo {
  height:40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color12);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: var(--color16);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}