:root {
  --color1: #E2F1AF; /* tea green */
  --color2: #E3D888; /* flax */
  --color3: #84714f; /* coyote */
  --color4: #5A3A31; /* rose ebony */
  --color5: #31231E; /* bistre */
  --color6: #BCAA99; 
  --color7: #88665D;
  --color8: #FFEDDF;
  --color9: #F2F7F2;
  --color10: #D4D2D5;
  --color11: #ABC8C7;
}

header {
  background-color: var(--color7);
  color: var(--color1)
}

nav ul {
  list-style:none;
  padding:0;
  margin:0;
}
nav ul li{
  display:inline-block;
}
nav ul li a{
  text-decoration: none;
  color: var(--color1);
  font-weight: bold;
  padding:20px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  
}
 .about {
  position: relative;
  background-color: var(--color7);
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
 }
 .profile-container{
  display:flex;
  max-width:90%;
 }

 .profile-left{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right:20px;
 }
 .profile-right{
  display:flex;
  align-items:center;
 }
.profile-title{
  display: flex;
  justify-content:center;
  align-items: center;
}
.profile-content{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.profile-content p{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--color3);
  border-radius: 20px;
  font-weight: normal;
  height: 400px;
  width: 750px;
  margin:0;
  padding:20px;
  animation: background-color-animation 10s infinite;
}
.profile-title h2{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--color3);
  border-radius: 20px;
  font-weight: normal;
  height: 100px;
  width: 900px;
  margin:0;
  padding:20px;
  animation: background-color-animation 5s infinite;
}
.profile-image {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  max-width: 90%;
  
}
.profile-image img{
  width: 250px;
  height: 470px;
  border-radius: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes background-color-animation {
  0% {
    background-color: var(--color3);
  }
  50% {
    background-color: var(--color2);
  }
  100% {
    background-color: var(--color6);
  }
}
