:root {
  --color1: #E2F1AF;
  /* tea green */
  --color2: #E3D888;
  /* flax */
  --color3: #84714f;
  /* coyote */
  --color4: #5A3A31;
  /* rose ebony */
  --color5: #31231E;
  /* bistre */
  --color6: #BCAA99;
  --color7: #88665D;
  --color8: #FFEDDF;
  --color9: #F2F7F2;
  --color10: #D4D2D5;
  --color11: #ABC8C7;
  --color12:#FCEFEF;
  --color13: #A1FCDF;
  --color14: #FCD29F;
  --color15: #2D232E;
  --color16: #F6C5AF;
  --color17:#B3CBB9;
}

header {
  background-color: var(--color17);
  color: var(--color15);
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: var(--color15);
  font-weight: bold;
  padding: 20px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

}
.profile-content .swiper {
  width: 350px;
  height: 500px;
  padding: 20px;
  border-radius: 100px;
}

.profile-content .swiper {
  border-radius: 18px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color5);
}

.profile-content .swiper h1 {
  font-size: 30px;
}

.profile-content .swiper-slide {
  background-color: var(--color10);
  border-radius: 45px;
}



.App-link {
  color: #61dafb;
}